

.nav-wrap {
    
 }

.nav-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}


.nav-item{

display: inline;
align-items: center;
padding: 10px;
font-size: 20px;
margin-top: 20px;

}

.navContact {
    grid-column-start: 8;
   }
.navAbout {    grid-column-start: 6;
 }
 .navGrills {
     grid-column-start: 5;
 }

 .navPropane {
    grid-column-start: 4;
 }
.navHome {
    grid-column-start: 3;
}
.navLogo {
    height: 80px;
    width: 80px;
    grid-column-start: 1;

}

li a {
    color: black;
    text-decoration: none;
}

.thumb-logo {
    position: fixed;
    height: 100px;
    width: 100px;
    
}


h1 {
    font-size: 50px;
    text-align: center;
}


















.employee-photo-box{
    height: auto;
    width: auto;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}

.hankHill {
    height: 300px;
    width: 300px;
    justify-content: flex-start;
    
    
}

 .strickland {
    height: 300px;
    width: 300px;
    justify-content: flex-end;
 
}

.strickland-logo {
    height: 300px;
    width: 500px;
}

figcaption {
    text-align: center;
}