

#logo {
    text-align: center;
}

#moto {
    text-align: center;
}

#hankHill {
    height: 200px;
    width: 200px;
}

#strickland {
    height: 200px;
    width: 200px;
}

#stricklandLogo {
    height: 200px;
    width: 200px;
}