

#logo {
    text-align: center;
}

#moto {
    text-align: center;
}

.hero-box {
    height: auto;
    width: auto;
    background-color: orchid;
    display: flex;
    justify-content: center;
}


.employee-photo-box{
    height: auto;
    width: auto;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}

.hankHill {
    height: 300px;
    width: 300px;
    justify-content: flex-start;
    
    
}

 .strickland {
    height: 300px;
    width: 300px;
    justify-content: flex-end;
 
}

.strickland-logo {
    height: 300px;
    width: 500px;
}

figcaption {
    text-align: center;
}